body {
    background-image: url(https://cdn.pixabay.com/photo/2021/02/03/12/34/clipboard-5977795_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: verdana;
    padding: 20px;
    width: 100%;
}

h1 {
  font-size: 36px;
}

.description {
  font-size: 16px;
  font-style:
}

.intro {
  margin: auto;
  color: rgb(0, 50, 0);
  text-align: center;
  padding: 20px;
  max-width: 700px;
}

form {
  display: block;
}

.survey {
  display: block;
    position: relative;
    width: 80%;
  background-color: rgba(0, 100, 0, 0.85);
  margin: auto;
  padding: 20px 20px;
  max-width: 700px;
  min-width: 400px;
  color: white;
  font-size: 18px;
}
